<a href="https://colab.research.google.com/github/ezraflavine/airbnb_eda/blob/main/SQLintro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:

import sqlite3

In [15]:
!ls

flights.db  sample_data

In [27]:
con = sqlite3.connect('flights.db')

In [28]:
cursor = con.cursor()

In [29]:
#SQL SELECT
airports_query = \
"""
SELECT *
FROM airports
"""

In [33]:
tables_query = """
SELECT * from sqlite_master
WHERE type='table';"""

cursor.execute(tables_query)

In [31]:
cursor.fetchall()

[('table',
  'airports',
  'airports',
  2,
  'CREATE TABLE airports (\n[index] INTEGER,\n  [id] TEXT,\n  [name] TEXT,\n  [city] TEXT,\n  [country] TEXT,\n  [code] TEXT,\n  [icao] TEXT,\n  [latitude] TEXT,\n  [longitude] TEXT,\n  [altitude] TEXT,\n  [offset] TEXT,\n  [dst] TEXT,\n  [timezone] TEXT\n)'),
 ('table',
  'airlines',
  'airlines',
  945,
  'CREATE TABLE airlines (\n[index] INTEGER,\n  [id] TEXT,\n  [name] TEXT,\n  [alias] TEXT,\n  [iata] TEXT,\n  [icao] TEXT,\n  [callsign] TEXT,\n  [country] TEXT,\n  [active] TEXT\n)'),
 ('table',
  'routes',
  'routes',
  1393,
  'CREATE TABLE routes (\n[index] INTEGER,\n  [airline] TEXT,\n  [airline_id] TEXT,\n  [source] TEXT,\n  [source_id] TEXT,\n  [dest] TEXT,\n  [dest_id] TEXT,\n  [codeshare] TEXT,\n  [stops] TEXT,\n  [equipment] TEXT\n)')]

In [34]:
tables = [i[1] for i in cursor.fetchall()]
print(tables)

['airports', 'airlines', 'routes']